body{
  margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to bottom right, #070606f8, #300303f1);
  }

.app {
  display: flex; /* Use o flexbox para controlar o dimensionamento */
  flex-direction: column; /* Alinha os elementos filhos verticalmente */
  min-height: 100vh;
}


.app.dark {
  background: linear-gradient(to bottom right, #ac6413, #1035ace3);
}